
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containercomp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#cursor {
    height: 24px;
    width: 24px;
    background-image: url("../assets/crosshair.png");
    background-size: cover;   
    position: absolute;
}

.preview-window {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    display: none;
}

.preview-image {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #c7c7c799;  
}

.preview-data {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#flag-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preview-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #c7c7c799;
}

#close-preview {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#close-preview:hover {
    background-color: #f1f1f1;
}

#newflag {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 24px;
    color: rgb(231, 101, 101);
}

.preview-title {
    width: 90%;
}

.preview-title input {
    width: 100%;
    height: 20px;
    border: none;
    font-size: 1.5em;
    border: 1px solid black;
    margin-top: 4px;
    height: 100%;
    border-radius: 5px;
}

.preview-title label{
    font-size: 1.5em;
    font-weight: bold;
}

.preview-description {
    width: 90%;
    margin-top: 7.5%;
}

.preview-description label{
    font-size: 1rem;
    font-weight: bold;
}

.preview-description textarea {
    margin-top: 4px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid black;
    /* outline: 1px solid black; */
}

.projects-dropdown {
    width: 90%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.projects-dropdown label {
    font-size: 1rem;
    font-weight: bold;
}

.projects-dropdown select {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid black;
    margin-top: 8px;
    /* outline: 1px solid black; */
}


.check-fullscreen {
    width: 90%;
    display: flex ;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-top: 8px;

}

.check-fullscreen label {
    font-size: 1.25em;
    font-weight: bold;
    color: black;
}

.preview-buttons {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    row-gap: 10px;
    margin-top: 5%;
}

.preview-buttons #save {
    width: 80px;
    height: 30px;
    background-color:   #591605; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
}



.preview-buttons #save:hover {
    background-color: #4CAF50;
}

.preview-buttons #cancel {
    width: 80px;
    height: 30px;
    background-color: transparent;
   
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    /* outline: 1px solid black; */
}